.wrap {
  /*position relative to window it is being displayed on */
  position:relative;
}
.wrap img {
  width:100%;
  height: 100%;
  /*position is relative to window it is being displayed on */
  position:relative;
/*order it will be stacked on top of other elements*/
  z-index:1;
}
/*wrap description*/
.wrap .desc {
  /*position will be absolute, regardless of other display factors*/
  position:absolute;
/*display as given*/
  width:100%;
  top:50%;
  left:50%;
  max-width: 100px;
  vertical-align: middle;
/*will be stacked on top*/
  z-index:2;
/*right justified*/
  text-align:center;
}
